

.profile {
    display: flex;
    margin: 10px;
    align-items: center;
}

.profile > .profile__userdata > small {
    font-size: 12px;
    color: lightgray;
}

.profile > .avatar {
    margin: 10px;
}