.chats {
    background-color : #fafafa;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.chats__top {
    color: #3e2723;
    display: flex;
    margin: 10px;
    margin-bottom: 0;
}

.chats__top > .chats__top__info {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    padding-left: 20px;
}
.chats__top > .chats__top__info > h3 {
    padding: 5px;
    padding-top: 10px;
}
.chats__top > .chats__top__info > .arrowdropdown {
    color: lightgray;
}
.chats__top > .chats__top__add {
    padding: 10px;
    padding-right: 20px;
}
.chats__search {
    border: none;
    background-color: #f7f3f2;
    border-radius: 5px;
    width: 90vw;
    min-height: 40px;
    display: flex;
    align-self: center;
    margin: 10px;
    margin-top: 0;
}

.chats__search > .searchButton {
    color: lightgray;
    padding: 10px;
}

.chats__search > .searchInput {
    color: black;
    border: none;
    background-color: inherit;
    width: 100%;
    outline-width: 0;
}

.chats__talk {
    border: none;
    border-radius: 5px;
    width: 90vw;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
}

.chats__dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chats__dialog__tab{
    padding: 20px;
    text-align: center;
}

.chats__dialog__search {
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.chats__dialog__search > .icon{
    color: lightgray;
}

.chats__dialog__search > input{
    border: none;
    outline-width: 0;
    width: 80%;
}
.chats__dialog__search > button {
    display: none;
}

.chats__toggle__result{
    text-align: center;
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.chats__toggle__result > .weight{
    font-weight: 600;
}

.chats__toggle__result > .normal{
    font-weight: 300;
    font-size: 12px;
}

.chats__toggle__result__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.chats__toggle__result__data > .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.chats__toggle__result__data > p {
    margin-bottom: 20px;
}
.chats__toggle__result__data > button {
    border: 1px solid lightgray;
    background-color: yellow;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    width: 100px;
    height: 40px;
}

.chats__toggle__result__data > button:hover {
    background-color: #3e2723;
    color: #fafafa;
    
}