

.talk {
    display: flex;
    margin: 10px;
    align-items: center;
}

.talk > .talk__userdata {
    flex: 1;
}

.talk > .talk__userdata > small {
    font-size: 12px;
    color: lightgray;
}

.talk > .avatar {
    margin: 10px;
}

.talk > p {
    color: lightgray;
    font-size: 12px;
    margin-right: 10px;
}