.detailChattingroom {
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 400px;
    height: 630px;
    margin: 0;
}

.detailChattingroom__header {
    display: flex;
    height: 10%;
    border-bottom: 1px solid lightgrey;
}
.detailChattingroom__header > .avatar {
    width: 46px;
    height: 46px;
    display: flex;
    align-self: center;
    margin-right: 14px;
    margin-left: 6px;
}
.detailChattingroom__header > .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailChattingroom__header > .userInfo >.userCnt {
    display: flex;
}
.detailChattingroom__header > .userInfo >.userCnt > small {
    padding-left: 5px;
}
.detailChattingroom__header > .userInfo >.userCnt > .icon {
    width: 20px;
    height: 20px;
}
.detailChattingroom__main {
    background-color: lightskyblue;
    height: 70%;
    overflow: scroll;
}
.detailChattingroom__main::-webkit-scrollbar {
    display: none;
}
.detailChattingroom__main::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.detailChattingroom__bottom {
    display: flex;
    flex-direction: column;
    height: 20%;
}
.detailChattingroom__bottom > .func {
    background-color: rgb(248, 248, 248);
    border-top: 1px solid lightgray;
    height: 30%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.detailChattingroom__bottom > .messagebox {
    border-top: 1px solid lightgray;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailChattingroom__bottom > .messagebox > textarea {
    height: 80%;
    width: 75%;
    border: none;
    outline-width: 0;
    
}
.detailChattingroom__bottom > .messagebox > button {
    height: 70%;
    width: 16%;
    border: 1px solid lightgrey;
    border-radius: 6px;
}

.detailChattingroom__bottom > .messagebox > button:hover {
    color: lightgrey;
    background-color: #3e2723;
}