.message {
    display: flex;
    align-items: center;
    /* position: relative; */
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.message > p {
    background-color: #f3f3f5;
    font-size: medium;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-right: auto;
    background-color: white;
}

.message > small {
    color: gray;
    font-size: 8px;
    padding-left: 8px;
}

.message__sender {
    margin-left: auto;
}

.message__sender > p {
    background-color: yellow;
    color: black;
}

.message__sender > small {
    padding-right: 8px;
}

.message >.message__photo {
    margin-right: 10px;
}